<div class="qmms">
    <header class="qmms__header">
        <h1 class="qmms__name">{{qmms.name}}</h1>
        <div class="qmms__AC">
            <label>AC<input type="text" name="system.attributes.ac.value" value="{{qmms.ac}}"/></label>
        </div>
        <div class="qmms__CR">
            <label>CR<input type="text" name="system.details.cr" value="{{qmms.cr}}"/></label>
        </div>
        <div class="qmms__health">
            <label>Current HP<input type="text" name="system.attributes.hp.value" value="{{qmms.hp.value}}"/></label>
            <label>Max HP<input type="text" name="system.attributes.hp.max" value="{{qmms.hp.max}}"/></label>
            <div class="qmms__health__bar">
                <div class="qmms__health__bar__fill"></div>
            </div>
        </div>
    </header>
    <div class="qmms__freetext">
        <prose-mirror
                name="system.details.biography.value"
                value="{{qmms.biography}}"
                toggled
        >
            {{{qmms.biographyEnriched}}}
        </prose-mirror>
    </div>
</div>
