<div class="qmms-sheet flexcol">
  <header class="sheet-header flexrow">
    <h1>{{actor.name}}</h1>

    <div class="qmms-header-controls">
      <button type="button" data-action="qmms-toggle-bio">
        {{#if qmms.bioEditing}}Preview{{else}}Edit Notes{{/if}}
      </button>
    </div>
  </header>

  <div class="stats-grid">
    <div class="stat">
      <label>AC</label>
      <input type="number" name="system.attributes.ac.value" value="{{qmms.ac}}" />
    </div>

    <div class="stat">
      <label>HP</label>
      <input type="number" name="system.attributes.hp.value" value="{{qmms.hp.value}}" />
      / <input type="number" name="system.attributes.hp.max" value="{{qmms.hp.max}}" />
    </div>

    <div class="stat">
      <label>CR</label>
      <input type="number" name="system.details.cr" value="{{qmms.cr}}" />
    </div>
  </div>

  <div class="freetext">
    {{#if qmms.bioEditing}}
      <div class="qmms-bio-toolbar">
        <button type="button" data-action="qmms-done-bio">Done</button>
      </div>
        <prose-mirror name="biography" value="system.details.biography.value" toggled>{{{ qmms.biographyEnriched }}}</prose-mirror>
    {{else}}
      <div class="qmms-bio-preview" data-action="qmms-edit-bio">
        {{{ enrichedBiography }}}
      </div>
    {{/if}}
  </div>
</div>
