<div class="qmms-sheet flexcol">
  <header class="sheet-header flexrow">
    <h1>{{actor.name}}</h1>
  </header>

  <div class="stats-grid">
    <div class="stat">
      <label>AC</label>
      <input type="number" name="system.attributes.ac.value" value="{{qmms.ac}}" />
    </div>

    <div class="stat">
      <label>HP</label>
      <input type="number" name="system.attributes.hp.value" value="{{qmms.hp.value}}" />
      / <input type="number" name="system.attributes.hp.max" value="{{qmms.hp.max}}" />
    </div>

    <div class="stat">
      <label>CR</label>
      <input type="number" name="system.details.cr" value="{{qmms.cr}}" />
    </div>
  </div>

  <div class="freetext">
    {{#if qmms.bioEditing}}
      <div class="qmms-bio-toolbar">
        <button type="button" data-action="qmms-done-bio">Done</button>
      </div>

      {{!-- Rich text editor bound to actor.system.details.biography.value --}}
      {{editor qmms.biography target="system.details.biography.value" editable=true engine="prosemirror"}}
    {{else}}
      {{!-- Clickable preview (enriched HTML with inline roll buttons) --}}
      <div class="qmms-bio-preview" data-action="qmms-edit-bio">
        {{{qmms.biographyEnriched}}}
      </div>
    {{/if}}
  </div>
</div>

