<div class="qmms5e">
    <header class="qmms5e__header">
        <h1 class="qmms5e__name"><label class="sr-only">Name</label><input type="text" name="name" value="{{qmms5e.name}}"/></h1>
        <div class="qmms5e__AC">
            <label class="sr-only">AC</label><input type="text" name="system.attributes.ac.value" value="{{qmms5e.ac}}"/>
        </div>
        <div class="qmms5e__health">
            <fieldset>
                <legend>HP</legend>
                <div class="qmms5e__health__split">
                    <label class="sr-only">Current HP</label><input type="text" name="system.attributes.hp.value" value="{{qmms5e.hp.value}}"/>
                    <div class="qmm5e__health__split__separator">/</div>
                    <label class="sr-only">Max HP</label><input type="text" name="system.attributes.hp.max" value="{{qmms5e.hp.max}}"/>
                </div>
            </fieldset>
            <div class="qmms5e__health__bar">
                <div class="qmms5e__health__bar__fill"></div>
            </div>
        </div>
    </header>
    <div class="qmms5e__CR">
        <label>CR</label><input type="text" name="system.details.cr" value="{{qmms5e.cr}}"/>
    </div>
    <div class="qmms5e__freetext">
        <button class="qmms5e__freetext__edit-toggle" type="button">
            <span class="qmms5e__freetext__edit-toggle__edit-text">Edit attacks & abilities text</span>
            <span class="qmms5e__freetext__edit-toggle__save-text">Convert to rolls and save text</span>
        </button>
        <prose-mirror
                name="system.details.biography.value"
                value="{{qmms5e.biography}}"
                form="quick-minimal-monster-sheet-for-5e-sheet"
                toggled
        >
            {{{qmms5e.biographyEnriched}}}
        </prose-mirror>
    </div>
</div>
